// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   = #FFDB3D
$secondary = #FFC348
$accent    = #FFFFFF

$positive  = #21BA45
$negative  = #C10015
$info      = #31CCEC
$warning   = #F2C037

$shadow-color         ?= black
$shadow-transition    ?= box-shadow .28s cubic-bezier(.4, 0, .2, 1)
$inset-shadow         ?= 0 7px 9px -7px alpha($shadow-color, .7) inset

$elevation-umbra      ?= rgba($shadow-color, .12)
$elevation-penumbra   ?= rgba($shadow-color, .014)
$elevation-ambient    ?= rgba($shadow-color, .012)
